.form-box {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 30px;

  label {
    min-width: 130px;
    height: 60px;
    text-align: center;
    align-content: center;
    display: inline-block;
    /* padding-inline: 30px; */
    font-weight: 700;
    font-size: 20px;
    border: 1.5px solid #26667f;
    border-radius: 60px;
    margin-right: 20px;
  }

  span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.522);
    border-block: 1px solid #26667f87;
    border-left: 1px solid #26667f87;
    border-radius: 10px 0 0 10px;
    width: 60px;
    height: 60px;
    transition:
      background,
      border 0.3s ease-in-out;
    display: flex;
    align-items: center;

    svg {
      margin-inline: 5px;
      min-width: 80%;
      min-height: 100%;
      text-align: center;
    }
  }

  input {
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-block: 1px solid #26667f87;
    border-right: 1px solid #26667f87;
    border-left: none;
    border-radius: 0 10px 10px 0;
    background: rgba(255, 255, 255, 0.522);
    transition:
      background,
      border 0.3s ease-in-out;

    &:focus {
      background: white;
      border-block: 1px solid #26667f;
      border-right: 1px solid #26667f;
      outline: none;

      .form-box:has(&:focus) span {
        background: white;
        border-block: 1px solid #26667f;
        border-left: 1px solid #26667f;
        outline: none;
      }
    }
  }
}
